<div>
    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>
                <mat-icon matListIcon>face</mat-icon>
            </mat-panel-title>
            <mat-panel-description>
                <p matLine >Category1</p>
            </mat-panel-description>
        </mat-expansion-panel-header>
    
            <a [routerlink]= "['/subcategory']">subcategory1</a><br> 
            <a [routerlink]= "['/subcategory']">subcategory2</a><br>
            <a [routerlink]= "['/subcategory']">subcategory3</a><br>
            <a [routerlink]= "['/subcategory']">subcategory4</a><br>
            <!-- <a href="/subcategory">subcategory1</a><br>
            <a href="/subcategory">subcategory2</a><br>
            <a href="/subcategory">subcategory3</a><br>
            <a href="/subcategory">subcategory4</a><br> -->

    </mat-expansion-panel>

</div>
<div>
    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>
                <mat-icon matListIcon>face</mat-icon>
            </mat-panel-title>
            <mat-panel-description>
                <p matLine >Category2</p>
            </mat-panel-description>
        </mat-expansion-panel-header>
    
        <a href="/subcategory">subcategory1</a><br>
        <a href="/subcategory">subcategory2</a><br>
        <a href="/subcategory">subcategory3</a><br>
        <a href="/subcategory">subcategory4</a><br>

    </mat-expansion-panel>
</div>
<div>
    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>
                <mat-icon matListIcon>face</mat-icon>
            </mat-panel-title>
            <mat-panel-description>
                <p matLine >Category3</p>
            </mat-panel-description>
        </mat-expansion-panel-header>
    
        <a href="/subcategory">subcategory1</a><br>
        <a href="/subcategory">subcategory2</a><br>
        <a href="/subcategory">subcategory3</a><br>
        <a href="/subcategory">subcategory4</a><br>

    </mat-expansion-panel>
</div>
<div>
    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>
                <mat-icon matListIcon>accessibility</mat-icon>
            </mat-panel-title>
            <mat-panel-description>
                <p matLine >Category4</p>
            </mat-panel-description>
        </mat-expansion-panel-header>
        <a href="/subcategory">subcategory1</a><br>
        <a href="/subcategory">subcategory2</a><br>
        <a href="/subcategory">subcategory3</a><br>
        <a href="/subcategory">subcategory4</a><br>

    </mat-expansion-panel>
</div>